.order-button {
  display: flex;
  justify-content: space-between;
  height: 59px;
  align-items: center;
  padding: 21px 37px;
  background: #FFC85E;
  border-radius: 79px;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
}
a {
  text-decoration: none;

}