.banner-button {
  padding: 36px 88px;
  color: #FFFFFF;
  background: #FFC85E;
  border-radius: 80px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.15em;
  cursor: pointer;
}