.add-button {
  background: #FFC85E;
  border-radius: 80px;
  border: 0;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  padding: 16.5px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 153px;
  font-weight: 700;
}